body {
  background: #090909;
}

.bg-black {
  background: #000;
}

.card-project:hover {
  border: 1px solid #eee;
  cursor: pointer;
}

 html {
  scroll-padding-top: 60px; 
}

.link{
  color: #000;
}

.logo{
  width: 100px;
  display: flex;
  top: 0px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.myimage{
  height: 300px;
  border-radius: 50% !important;
  margin: 15px;
}

.aboutmeh3{
  margin: 0px !important;
  letter-spacing: 1px;
}

.titulos{
  margin: 0px !important;
  letter-spacing: 1px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.carousel .carousel-item {
  width:400px !important;
}

.myhighlight{
  border-radius: 5px;
  font-size: 13px;
  letter-spacing: 1px;
}

.mytitle{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}
.mysubtitle{
  font-weight: bold;
  letter-spacing: 1px;
}

.mysubtitle2{
  letter-spacing: 1px;
}

.mycontact{
  margin-bottom: 0px;
  font-size: 19px;
  text-decoration: underline;
}

.aboutme{
  font-size: 19px;
  text-align:justify !important;
  text-justify: inter-word !important;
  /* for IE9 */
  text-align-last:center !important;
}

.icono{
  color: teal !important;
}
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 600px) {
  .myimage{
  height: 100px;
  }

  .aboutmeh3{
    font-size: 30px;
  }

  .aboutme{
    text-align: justify !important;
    text-justify: auto !important;
  } 
}

footer.page-footer {
  margin: 0;
}
