body {
  background: #090909;
}
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0px;
  border: 0px;
}

.card-project:hover {
  border: 1px solid #ff0000;
  cursor: pointer;
}

 html {
  scroll-padding-top: 60px; 
}

.link{
  color: #69a5ff;
  font-family: 'Poppins';
  font-weight: 600;
}

.link:hover{
  color: #fc6363;
}
  

.logo{
  width: 70px;
  display: flex;
  top: 0px;
}

.sidenav-trigger {
  color: #26a69a;
}

.icono{
  color: teal !important;
}

.nav-item{
  margin-top: 15px;
}
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 600px) {
 
}

footer.page-footer {
  margin: 0;
}
