
/* Style General */

body {
  background: #ffffff;
}
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0px;
  border: 0px;
}
h1,h2,p,h3{
  color: rgb(0, 0, 0);
}

html {
  scroll-padding-top: 60px; 
}


/* Style header */
.parallax-container{
  width: 100%;
  height: 100%;
  position: relative;
}

.text-saludo{
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
}

/* Style NavBar */
.link{
  font-family: 'Poppins';
  font-weight: bold;
}
.logo{
  width: 70px;
  display: flex;
  top: 0px;
}

.link:hover{
  color: #bcd2ff;
}


.sidenav-trigger {
  color: #fdc345;
}

.icono{
  color: #fdc345;
}

.nav-item{
  margin-top: 15px;
}

/* Style sobremi */
.text-fisrt{
  font-family: 'arial';
  font-weight: 600px;
  font-size: 20px;
  text-transform: lowercase;
  line-height: 34px;
  letter-spacing: 0.155em;

}

.especialidad{
  font-size: 25px;
  font-family: 'poppins';
  font-weight: 500;
}
.especialidad-1{
  font-size: 25px;
  font-family: 'poppins';
  font-weight: bold;

}
.girl-icon{
  width: 600px;
  height: 600px;
}
/* Style habilidades */

.text-icons{
  font-size: 20px;
  font-weight: 400px;  
}
.icons{
  width: 50px;
  height: 50px;
}
.card-title{
  font-family: 'poppins';
  font-weight: 700px;
  cursor: pointer;
}
.open{
  cursor: pointer;

}
.habilidades-title{
  font-size: 20px;
  font-weight: 500px;
  font-family: 'poppins';
}

/* Style prtfolio */
#proyectos{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
  gap:1rem;
}
.card-project:hover {
  border: 1px solid #ff7b00;
  cursor: pointer;  

}
.card-project{
  background-color: #b9b9b9;
  border: 0,1px solid #020101;
  justify-content: center;

}

.title-project{
  font-size: 30px;
  font-weight: 500px;
  font-family: 'poppins';
}
.text-project{
  font-size: 18px;
  font-weight: 500px;
}

.card-img-top{
  max-width: 100%;
}
.card-body{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card.hoverable{
  border-radius: 20%;
}
.card-image{
  border-top-left-radius: 24%;
  border-top-right-radius: 24%;
}
.cardt{
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #110d0d;
}


.card-body{
  background-color: #ffffff;
}

.projects-title{
  font-family: 'poppins';
  font-weight: 600px;
  font-size: 40px;
}
.card{
  width: 200px;
  gap: 2rem;
}

.text-service{
  color: rgb(0, 0, 0);
  font-family: 'poppins';
  font-weight: 500px;
  font-size: 40px;
}

.service{
  justify-content: center;
  flex-direction: column;
}
.container-service{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: center;
  gap:1rem;
}
.card{
  width: 300px;
}
.titulos{
  font-family: 'poppins';
  font-weight: bold;
  font-size: 40px;
}
/* Style media */

@media only screen and (max-width : 992px) {
  .girl-icon{
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width : 600px) {
  .girl-icon{
    width: 300px;
    height: 300px;
   
  }
   .logo{
      width: 50px;
      height: 50px;
    }
}
@media only screen and (max-width : 500px) {
  .logo{
    width: 50px;
    height: 50px;
  }
}
@media only screen and (max-width : 370px) {
  .girl-icon{
    width: 300px;
    height: 300px;
    flex-direction: row;
  }
  .logo{
    width: 50px;
    height: 50px;
  }
}
/* Style foonter */

footer.page-footer {
  margin: 0;
}

