{% extends 'layout.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/main.css'%}">

<!-- Hero Section -->
<header id="sobremi" class="row">
  <div class="col-md-4">
    <img class="girl-icon" src="{% static 'portfolio/girl-icon.png' %}" />
  </div>

  <div class="col-md-8 my-auto p-4">
    <h1 class="saludo" >Hola soy <strong>Rosaida Hernandez</strong></h1>
    <h3 class="especialidad">Developer <strong  class="especialidad-1">web Full-stack</strong></h3>
    <p class="text-fisrt">Me encargo de crear y mantener sitios web y aplicaciones web. Programar y escribir código en lenguajes de programación para crear páginas web atractivas y funcionales.</p>
    <a class="btn btn-primary btn-lg rounded-0 my-3" download="slee dw" href="static/portfolio/cv.pdf">Descarga mi CV</a>
  </div>
</header>
 
<!-- Porfolio Section -->
  <h3 class="projects-title">Mis Proyectos:</h3>
<div id="proyectos" class="row my-4 text-center">
  
  {% for project in projects %}
  <div class="col-md-4 p-4">
    <div class="cardt bg-WHITE card-project">
      <img src="{{project.image.url}}" class="card-img-top" />

      <div class="card-body">

        <h2 class="title-project" >{{ project.title }}</h2>
        <p>{{ project.description }}</p>

        {% if project.url %}
        <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="__blank" rel="noreferrer">Ver proyecto</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
