{% extends 'layout.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'portfolio/main.css'%}">

<!-- Hero Section -->
<header id="sobremi" class="row">
  <div class="col-md-4">
    <img class="girl-icon" src="{% static 'portfolio/images/girl-icon.png' %}" />
  </div>

  <div class="col-md-8 my-auto p-4">
    <h1 class="white-text" >Hola soy <strong class="orange-text text-darken-3">Rosaida Hernandez</strong></h1>
    <h3 class="especialidad grey-text text-lighten-2">Developer <strong  class="especialidad-1 pink-text text-lighten-3">web Full-stack</strong></h3>
    <p class="text-fisrt grey-text text-lighten-3">Me encargo de crear y mantener sitios web y aplicaciones web, programar y escribir código en lenguajes de programación para crear páginas web atractivas y funcionales.</p>
    <a class="btn   teal darken-3 btn-primary btn-lg rounded-0 my-3" download="slee dw" href="static/portfolio/cv.pdf">Descarga mi CV</a>
  </div>
</header>
 
<!-- Porfolio Section -->
  <h3 class="projects-title  pink-text text-lighten-3">Mis Proyectos:</h3>
<div id="proyectos" class="col s7 push-s5 cartas text-center">
  
  {% for project in projects %}
  <div class="cartas">
    <div class="cardt indigo darken-4 card-project">
      <img src="{{project.image.url}}" class="card-img-top" />

      <div class="card-body">

        <h2 class="title-project" >{{ project.title }}</h2>
        <p class="text-project">{{ project.description }}</p>

        {% if project.url %}
        <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="__blank" rel="noreferrer">Ver proyecto</a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
